html {
    color: fuchsia
}

/*
body {
    color: blue;
    background-color: gray;
}
*/

h1 {
    color: green;
    /*background-color: beige;*/
    font-family: sans-serif
}

.cis-260 {
    color: #D0681D;
    /*background-color: cadetblue;*/
    font-family: cursive;
}

p {
    color: #ff0000;
    /*background-color: gold;*/
    font-size: 22pt;
}
#Special-paragraph {
    color: #0000ff;
}

#special-paragraph-3 {
    font-family: cursive
}

body a {
    font-family: cursive;
}

.test {
    /*background-color: darkgreen;*/
}

a {
    color: red;
}

.testing {
    /*background-color: aqua;*/
    color: purple
}
