html {
    color: fuchsia
}

/*
body {
    color: blue;
    background-color: gray;
}
*/

h1 {
    color: green;
    /*background-color: beige;*/
    font-family: sans-serif
}

.cis-260 {
    color: #D0681D;
    /*background-color: cadetblue;*/
    font-family: cursive;
}

p {
    color: coral;
    /*background-color: gold;*/
    font-size: 2em;
}

.test {
    /*background-color: darkgreen;*/
}

a {
    color: red;
}

.testing {
    /*background-color: aqua;*/
    color: purple
}
